# Ignore node_modules directory
node_modules/

# Ignore logs and debugging files
*.log
npm-debug.log*

# Ignore environment-specific .env files
.env

# Ignore Mac OS and Windows system files
.DS_Store
Thumbs.db

# Ignore editor/IDE-specific files
.vscode/
.idea/

# Ignore compiled binary files
*.out

# Ignore package-lock.json and yarn.lock files
package-lock.json
yarn.lock

# Ignore build and dist directories
/build/
/dist/

# Ignore cache and temporary files
.cache/
.tmp/
.temp/
temp/
