<!DOCTYPE html>
<html>

<head>
  <title>WebSocket Client</title>
  <style>
    .table {
      width: auto;
      background-color: #41D0EA;
      border-radius: 5px;
    }

    /* Define custom CSS styles for the board */
    .table-cell {
      text-align: center;
      cursor: pointer;
      border-color: #008297;
      min-width: 30px;
      min-height: 30px;
      color: transparent;
    }

    .disabled {
      cursor: not-allowed !important;
    }

    /* Define Bootstrap classes for hits and misses */
    .hit {
      background-color: #8F1116 !important;
    }

    .miss {
      background-color: #BAC9D7 !important;
    }

    /* Custom CSS for table */
    .custom-table-container {
      border: 2px solid #0C849D;
      border-radius: 10px;
      background-color: #FF5733;
      overflow: hidden;
      max-width: 30rem;
      /* Ensure border-radius is applied to the container */
    }

    .custom-table {
      border: none;
      width: 100%;
      height: 100%;
      margin-bottom: 0;
    }

    .custom-table td {
      border-top: 2px solid #0C849D;
      text-align: center;
    }

    .custom-table td:not(:last-child) {
      border-right: 2px solid #0C849D;
    }

    .custom-table th {
      text-align: center;
    }

    .custom-table th:not(:last-child) {
      border-right: 2px solid #0C849D;
    }


    .ship-v-f {
      background-image: url('img/v-top-2.png');
      background-position: bottom;
      background-repeat: no-repeat;
      border-bottom: 0 !important;
      background-size: contain;
    }

    .ship-v-m {
      background-image: url('img/v-medium-2.png');
      background-position: top;
      background-repeat: repeat-y;
      border-top: 0 !important;
      border-bottom: 0 !important;
      background-size: contain;
    }

    .ship-v-l {
      background-image: url('img/v-bottom-2.png');
      background-position: top;
      background-repeat: no-repeat;
      border-top: 0 !important;
      background-size: contain;
    }

    .ship-h-f {
      background-image: url('img/h-left-2.png');
      background-position: right;
      background-repeat: no-repeat;
      border-right: 0 !important;
      background-size: contain;
    }

    .ship-h-m {
      background-image: url('img/h-medium-2.png');
      background-position: right;
      background-repeat: repeat-x;
      border-left: 0 !important;
      border-right: 0 !important;
      background-size: contain;
    }

    .ship-h-l {
      background-image: url('img/h-right-2.png');
      background-position: left;
      background-repeat: no-repeat;
      border-left: 0 !important;
      background-size: contain;
    }

    .hit-h-f {
      background-image: url('img/h-left-hit.png');
      background-position: right;
      background-repeat: no-repeat;
      border-right: 0 !important;
      background-size: contain;
    }

    .hit-h-m {
      background-image: url('img/h-medium-hit.png');
      background-position: right;
      background-repeat: repeat-x;
      border-left: 0 !important;
      border-right: 0 !important;
      background-size: contain;
    }

    .hit-h-l {
      background-image: url('img/h-right-hit.png');
      background-position: left;
      background-repeat: no-repeat;
      border-left: 0 !important;
      background-size: contain;
    }

    .hit-v-f {
      background-image: url('img/v-top-hit.png');
      background-position: bottom;
      background-repeat: no-repeat;
      border-bottom: 0 !important;
      background-size: contain;
    }

    .hit-v-m {
      background-image: url('img/v-medium-hit.png');
      background-position: top;
      background-repeat: repeat-y;
      border-top: 0 !important;
      border-bottom: 0 !important;
      background-size: contain;
    }

    .hit-v-l {
      background-image: url('img/v-bottom-hit.png');
      background-position: top;
      background-repeat: no-repeat;
      border-top: 0 !important;
      background-size: contain;
    }
  </style>
  <script src="js/battleship.js"></script>
</head>

<body>
  <script>
    const roomID = '{{ roomID }}'
    const socket = new WebSocket(`${getUrl()}/${roomID}`);
    let boardData = []
    socket.onmessage = handleOnMessage

    socket.onopen = handleOnOpen

  </script>
  <div class="container">
    <h1 class="mt-4 mb-4" id="gameStatus">Waiting rival to join</h1>
    <!-- Use Bootstrap table -->
    <div class="row">

      <div class="col mb-4">
        <div class="custom-table-container" id="playerBoard"></div>
      </div>
      <div class="col">
        <div class="custom-table-container" id="enemyBoard"></div>
      </div>
    </div>
  </div>
</body>

</html>