<!DOCTYPE html>
<html>

<head>
  <title>WebSocket Client</title>
  <link rel="stylesheet" href="style.css">
  <script src="js/battleship.js"></script>
</head>

<body>
  <script>
    const roomID = '{{ roomID }}'
    const socket = new WebSocket(`${getUrl()}/${roomID}`);
    let boardData = []
    socket.onmessage = handleOnMessage

    socket.onopen = handleOnOpen

  </script>
  <div class="container">
    <h1 class="mt-4 mb-4" id="gameStatus">Waiting rival to join</h1>
    <!-- Use Bootstrap table -->
    <div class="row">

      <div class="col mb-4">
        <div class="custom-table-container" id="playerBoard"></div>
      </div>
      <div class="col">
        <div class="custom-table-container" id="enemyBoard"></div>
      </div>
    </div>
  </div>
</body>

</html>