<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .custom-button {
      background-color: #FFB62C;
      border: none;
    }

    /* Custom CSS for button hover */
    .custom-button:hover {
      background-color: #FF9C00;
      /* Slightly darker shade of #FFB62C */
    }

    #roomList a {
      color: #FFB62C;
    }
  </style>
  <script src="js/battleship.js"></script>
</head>

<body>
  <script>
    const socket = new WebSocket(getUrl());

    socket.onopen = handleOnOpen

    socket.onmessage = handleOnMessage
  </script>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 welcome-text">
        <h1>Welcome</h1>
        <p>Create a room to play!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 continue-button">
        <button class="btn btn-primary btn-lg custom-button" onclick="joinRoom()">Create</button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <h2>Already Created Rooms</h2>
        <ul id="roomList">
          <!-- Add more rooms as needed -->
        </ul>
      </div>
    </div>
  </div>

</body>
<script>
  function joinRoom() {
    const roomID = Math.random().toString(36).substring(7)
    // similar behavior as clicking on a link
    window.location.href = `/${roomID}`;
  }
</script>

</html>